@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Lato', sans-serif; */

*{padding: 0; margin: 0; outline: 0}
a{text-decoration: none}
ul,ol{list-style: none}
html{
	scroll-behavior: smooth;
}

body{
	font-family: Lato;
}

/* Navigation Part css start */
#nav_section{
	background-color: #f6f9f9;
	padding: 10px 0;
}
.navbar-brand{
	display: flex;
}
.navbar-brand img{
	width: 100%;
	height: 80%;
}
.navbar-brand h2{
	font-weight: bold;
	font-size: 30px;
	color: #2d3950;
	text-transform: uppercase;
	margin-left: 20px;
}
.nav-link{
	text-transform: uppercase;
	font-size: 20px;
}
/* Navigation Part css end */

/* banner part css start */
#banner{
	background-image: url("../images/banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.overlay{
	background-color: #18364769;
	width: 100%;
	height: 100%;
	padding: 200px 0;
}
.banner_content{
	text-align: center;
}
.banner_content h1 {
	font-size: 120px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	border-bottom: 2px solid #15a4fa;
	margin-bottom: 30px;
}
.banner_content p {
	color: #fff;
	margin-bottom: 60px;
}
.banner_content a {
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #15a4fa;
    margin-top: 30px;
    font-size: 18px;
	transition:all linear 0.3s;
}
.banner_content a:hover {
    color: #fff;
    border: 1px solid #15a4fa;
	background-color: #15a4fa;
	transition:all linear 0.3s;
}
.down_icon{
	color: #fff;
	margin-top: 200px;
	margin-bottom: -100px;
	font-size: 24px;
	font-weight: bold;
}
/* banner part css end */

/* about part css start */
#about{
	background-color: #f6f9f9;
	padding: 80px 0;
}
.about_content{
 text-align: center;
}
.about_content h2{
	color: #2d3950;
	font-size: 40px;
	margin-bottom: 20px;
}
.about_content p{
	color: #999999;
	font-size: 20px;
}
/* about part css end */


/* service section css start */
#service{
	background-color: #fff;
}
.service_item{
	text-align: center;
	padding: 80px 0;
}
.service_icon {
    height: 100px;
    width: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
	margin-bottom: 30px;
}
.service_icon::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: #48baff;
	z-index: 1;
}
.service_icon::before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background-color: #5fc3ff;
	z-index: 1;
}
.service_icon i{
	color: #fff;
	font-size: 40px;
	box-shadow: inset;
	z-index: 2;
}
.service_item h2{
	font-size: 22px;
	color: #2d3950;
	margin-bottom: 15px;
}
.service_item p{
	font-size: 14px;
	color: #999999;
	padding: 0 20px;
}
/* service section css end */

/* work section css start */
#work{
	background-color: #f6f9f9;
	padding: 80px 0;
}
.work_header{
	text-align: center;
}
.work_header h2{
	font-size: 41px;
	color: #2d3950;
}
.work_header p{
	font-size: 20px;
	color: #909090;
	margin-bottom: 80px;
}
.work_item{
	margin-top: 20px;
}
.work_img{
	position: relative;
}
.work_img img{
	width: 100%;
}
.work_overlay{
	transform: scale(0);
	transition: all linear 0.3s;
	width: 100%;
	height: 100%;
	background-color: #009dffa1;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.work_overlay a{
	color: #fff;
	padding: 10px;
	font-size: 14px;
	border: 1px solid #fff;
	display: block;
	margin: 5px;
	width: 40px;
	height: 40px;
	text-align: center;
	transition: all linear 0.3s;
	border-radius: 5px;
}
.work_overlay a:hover{
	color: #fff;
	background-color: #009fff;
	border: 1px solid #009fff;
	transition: all linear 0.3s;
}
.work_img:hover .work_overlay{
	transform: scale(1);
	transition: all linear 0.3s;

}

/* work section css end */

/* contact section css start */
#contact{
	background-image: url(../images/footer/footer-banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.contact_overlay{
	background-color: #2d3950dc;
	width: 100%;
	height: 100%;
	padding: 80px 0;
}
.contact_header{
	text-align: center;
	
}
.contact_header h2{
	color: #fff;
	font-size: 41px;

}
.contact_header p{
	color: #999999;
	font-size: 14px;
	margin-bottom: 20px;

}
.contact_form{
	text-align: center
}
.contact_form input[type=text]{
	display: block;
	background-color: none;
	margin: auto;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #999999;
	color: #999999;
	background: transparent;
}
.contact_form input[type=text]:focus{
	color: #999999;
}
.contact_form input[type=text]::placeholder{
	color: #999999;
}
.contact_form input[type=email]{
	display: block;
	background-color: none;
	margin: auto;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #999999;
	color: #999999;
	background: transparent;
}
.contact_form input[type=email]:focus{
	color: #999999;
}
.contact_form input[type=email]::placeholder{
	color: #999999;
}
.contact_form textarea{
	display: block;
	margin: auto;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #999999;
	color: #999999;
	background: transparent;

}
.contact_form input[type=checkbox]{
	accent-color: #15a4fa;
	margin-right: 10px;
	height: 20px;
	width: 20px;
	background-color: #9aa0aa;
	border-radius: 3px;
	float: left;
}
.contact_form label {
    display: inline-block;
    color: #fff;
    margin-left: 10px;
	float: left;
}
.contact_form input[type=submit]{
	background-color: transparent;
	border: 1px solid #15a4fa;
	padding: 5px 40px;
	color: #ffffff;
	text-transform: capitalize;
	font-size: 18px;
	float: right;
	transition: all linear 0.3s;
}
.contact_form input[type=submit]:hover{
	border: 1px solid #15a4fa;
	color: #ffffff;
	background-color: #15a4fa;
	transition: all linear 0.3s;
}
/* contact section css end */

/* footer section css start */
#footer {
    background-color: #f6f9f9;
    padding: 25px 0 20px 0;
}
.copyright{
	
}
.copyright p{
	color: #999999;
	font-size: 14px;
	margin-top: 10px;
}
.social_icon{
	display: flex;
	justify-content: right;
}
.social_icon a {
    width: 40px;
    height: 40px;
    background-color: #15a4fa;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border-radius: 3px;
	transition: all linear 0.3s;
}
.social_icon a:hover {
    background-color: #101111;
    color: #FFF;
	transition: all linear 0.3s;
}
/* footer section css end */